<nav class="navbar navbar-expand-lg" style="background-color: #e7ebef">
    <div class="container-fluid">
      
     
      <div class="logo-container"> <img src="assets/Logoo.png" alt="Logo"></div>

      <button class="btn text-light px-4 rounded-pill fw-semibold ms-auto" 
              style="background-color: #495057; border: none; transition: 0.3s;"
              (click)="Registro()">
        <i class="bi bi-person-plus"></i> Registrarse
      </button>
  
    </div>
  </nav>

  <div class="row mb-4">
    <div class="col-md-8 mx-auto">
      <label class="form-label fw-bold">Número de cedula vendedor:</label>
      <input type="text" class="form-control form-control-lg rounded-3 shadow-sm" [(ngModel)]="cedulaV" (blur)="vendedor()" required />
    </div>
    <div class="col-md-8 mx-auto">
      <label class="form-label fw-bold">Número de cedula cliente:</label>
      <input type="text" class="form-control form-control-lg rounded-3 shadow-sm" [(ngModel)]="CedulaC"(blur)="cliente()" required />
    </div>
  <div class="col-md-8 mx-auto">
    <label class="form-label fw-bold">Id producto:</label>
    <input type="text" class="form-control form-control-lg rounded-3 shadow-sm" [(ngModel)]="DetalleVenta.Producto" required />
  </div>
  </div>
  
